*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

.page-container{
    background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/43827wide.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

input {
    width: 500px;
    border-radius: 10px;
    border-color: yellow;
    padding: 5px;
    font-size: 20px;
    
    
   
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{

    align-content: center;
    border-radius: 6px;
    margin-bottom: 10px;
    overflow: hidden;
}

.card p{
    text-align: center;
    padding: 5px;

}

.card img{
    max-height: 199px;
}

.card-grid{
    display:flex ;
    flex-direction:row;
    flex-wrap: wrap;
   justify-content: center;
    gap:10px;
}

.titulo{
    color:gold;
    font-size: 30px;
}

.box{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoria{
    font-size: 12px;
    text-align: center;
    color: gold;
    border:solid silver;
    border-radius: 10px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px 0;
    text-transform:capitalize;
}

.categoria-container{
    width: 100%;
    height: auto;
    display: flex;
    gap:5px;
    padding-bottom: 20px;
}


.botonBorrado{
    padding-left: 5px;
    color:red;
    cursor: pointer;
    transition: all ease-in-out 1s;
}

.botonBorrado:hover{
    transform: rotateX(360deg);
  

}

.container-good-looking{
    width: 800px;
    margin: auto;
    padding-top: 20px;
}